body {
  background-color: #111;
  color: #00ffcc; 
  font-family: 'Courier New', Courier, monospace; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

       
.clock-container {
  text-align: center;
  background: black;
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow:-5px -5px 30px red,  /* Top-Left: Pink/Red Glow */
             5px -5px 30px #00ff,  /* Top-Right: Cyan/Green Glow */
            -5px  5px 30px green,  /* Bottom-Left: Purple Glow */
             5px  5px 30px #ffcc00;  /* Bottom-Right: Yellow Glow */
}

     
#clock {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffffff;
}

#date {
  font-size: 18px;
  color: #888;
  margin-top: 10px;
}